.Leaderboard-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
}

.Leaderboard-modes {
  padding: 0.5rem 0;
}

.Leaderboard-modes button {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0 0.15rem;
}

.Table {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
